@{ Layout = "~/_SiteLayout.cshtml";
   Page.Title = "Comments"; 
 
    
        var needID = UrlData[0];
        var id = 0;
        if (!needID.IsEmpty() && needID.IsInt()) {
            id = Convert.ToInt32(needID);
        }
    
    
   var db = Database.Open("GoodStarter");
   var comments = db.Query("SELECT * from Comment join UserProfile on comment.UserID = UserProfile.UserID where NeedID = @0 order by PostDate", id);
   
   }
<div class="row">
    <h1 class="page-title">A Place to Stay Over Thanksgiving Break</h1>
</div>
<div class="row">
    <div class="title-creator-info col-md-4">
        <img class="creator-img float-left" src="~/Images/jonathan.young.jpg" alt="test" />
        <h3 class="float-left">Josh Smith</h3>
    </div>
    <div class="need-nav col-md-offset-2 col-md-6">
        <ul class="float-right">
            <li><a href="Need"><i class="fa fa-home"></i> Home</a>
            </li>
            <li><a href="Comments"><i class="fa fa-pencil-square-o"></i> Comments</a>
            </li>
            <li><a href="Updates"><i class="fa fa-cloud-upload"></i> Updates</a>
            </li>
        </ul>
    </div>
</div>
<section class="description">
    <div class="row">
        <div class="col-md-8">
            @foreach(var comment in comments)
            {
            <div class="user-comment">
                <div class="post-date row sub-title">
                    <div class="float-right">
                        @comment.PostDate
                    </div>
                    <div class="float-left">
                        @comment.FirstName @comment.LastName
                    </div>
                </div>
                <img class="comment-img float-left" src="~/Images/@comment.Picture" alt="comment picture" />
                <p>@comment.Text</p>
                <div class="commenter-name row">
                </div>
            </div>
            }

        </div>
        <div class="col-md-4">
            <div class="need-stats">
                <h4><span class="stat-num">2</span> Need Meeters</h4>
                <h4><span class="stat-num">9</span> Days to Go</h4>
                <h4><span class="stat-num">14</span> Watching</h4>
                <div class="meet-need-button">Meet Need</div>
            </div>
        </div>
    </div>
    </div>
</section>