@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Comments";    
}

                    <div class="commentsBox">
                        <div class="userComments">
                            <img class="commentPic" src="img/jaimeleonard.jpg" alt="comment picture"/>
                            <p>My name is Jaime Leonard. I can help! Message me and we can work something out.</p>
                            <div class="beautifulButton">Reply</div>
                        </div>
                        <div class="userComments">
                            <img class="commentPic" src="img/tyler.estes.jpg" alt="comment picture" />
                            <p>I'm Tyler Estes. I can help too. Let's get together soon.</p>
                            <div class="beautifulButton">Reply</div>
                        </div>
                        <div class="userComments">
                            <img class="commentPic" src="img/jonathan.young.jpg" alt="comment picture" />
                </div>

            </section>
        </div>
    </div>
