@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Start Something Good";

    var db = Database.Open("GoodStarter");
    var mostPopularNeeds = db.Query("SELECT * FROM Need JOIN (SELECT NeedID, COUNT(NeedID) CT FROM Watching GROUP BY NeedID) AS NeedCounts ON NeedCounts.NeedID=Need.NeedID JOIN UserProfile ON UserProfile.UserID=Need.CreatorID ORDER BY NeedCounts.CT DESC");

}

<div class="row jumbotron">

    <div class="col-sm-8 ">
        <h1>Start Something Good.</h1>
        <h2>Our aim is to connect people together in order to spark good.</h2>
        <h3>We believe that sharing needs in community will bring out the best in people.</h3>

        <a class="social-button" href="/account/register"> Sign Up </a>
        <!--<a class="social-button" href="#"> Explore Needs </a> -->

    </div>
    <div class="col-sm-4" >
        <img class="img-responsive leaf-img" src="~/Images/light_leaf_portrait.jpg" alt="leaf" /> 
    </div>
            
</div>

<div class="row">
        <h2 class="page-title">Trending Needs</h2>

        @foreach( var need in mostPopularNeeds) {
        <div class="col-sm-4 popular-need">
            <div class="popular-container">
                <a href="/need/@need.NeedID">
                    <img class="img-responsive popular-img" src="~/Images/@need.ImageName" alt="popular-need">
                    <h3> @need.NeedTitle</h3>
                    <p> @need.FirstName @need.LastName </p>
                    <p> @need.Description </p>
                </a>
            </div>
        </div>  
        }
            
        
</div>

<hr>

<div class="row">
    <section class="social col-md-12">
        <h2>Tell others about GoodStarter!</h2>
        <p>Discover and fulfill needs with friends!</p>
        <a class="social-button" href="#"><span id="facebook"><i class="fa fa-fw fa-facebook"></i></span> Connect with Facebook</a>
    </section>
</div>
<div class="row">
    <section class="learn-more col-md-12">
        <h2>Want to know more?</h2>
        <p>Each GoodStarter need is an independent creation of someone like you!</p>
        <a class="learn-button" href="#">Learn More</a>
    </section>
</div>