@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Start Something Good";
}

            <h1 class="center-heading">Start Something Good</h1>
        <div id="popular">
            <h2 class="center-heading">Popular</h2>
            <div class="popular-box">
                <a href="#"><img src="~/Images/books.jpg" alt="something1"/></a>
                <h4><a href="#">Need Texbook</a></h4>
                <p>by Spencer Christian</p>
                <p>It's been 3 months and the bookstore still hasn't received my C++ book!  Can I borrow/buy someone's this semester?</p>
            </div>
            <div class="popular-box">
                <a href="#"><img src="~/Images/lamborgini.jpg" alt="something1"/></a>
                <h4><a href="#">Need Mechanic</a></h4>
                <p>by Tyler Estes</p>
                <p>I'm having issues with my car.  The other day it caught on fire.  Please help me.</p>
            </div>            
            <div class="popular-box">
                <a href="#"><img src="~/Images/thanksgiving.jpg" alt="something1"/></a>
                <h4><a href="#">Place to Stay for Thanksgiving</a></h4>
                <p>by Josh Smith</p>
                <p>I need a place to stay during Thanksgiving break.  I'll pay for any expenses and clean up after myself.</p>
            </div>          
        </div>
        
        <section id="social">
            <h2>Tell others about GoodStarter!</h2>
            <p>Discover and fulfill needs with friends!</p>
            <a href="#">Connect with Facebook</a>
        </section>        
        
        <section id="learnMore">
            <h2>Want to know more?</h2>
            <p>Each GoodStarter need is an independent creation of someone like you!</p>
            <a href="#">Learn More</a>
        </section> 