@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Updates";    
}

            <div class="updates-container">
                <div class="row">
                    <h1 class="page-title">A Place to Stay Over Thanksgiving Break</h1>
                </div>
                <div class="row need-nav">
                    <ul class="col-md-12">
                        <li><a  href="ViewNeed.cshtml"><i class="fa fa-home"></i> Home</a>
                        </li>
                        <li><a href="Comments.cshtml"><i class="fa fa-pencil-square-o"></i> Comments</a>
                        </li>
                        <li><a href="Updates.cshtml"><i class="fa fa-cloud-upload"></i> Updates</a>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <div class="updates">
                            <div class="row">
                                <h2 class="float-left"> This is the updates title </h2>
                                <p class="float-right"> 9/19/14 </p>
                            </div>
                            <p>This is the body of the update. This is tell the need meeters all they need to know about the progress of the need being met or any complications or blessings that occur since the making of the original video post.</p>
                        </div>
                        <div class="updates">
                            <div class="row">
                                <h2 class="float-left"> Past updates title block </h2>
                                <p class="float-right"> 9/16/14 </p>
                            </div>
                            <p>Example update: Wow guys! Thanks for the outpouring of help in response to my need. You guys are the best. Things are going better, but there are still some things that could improve so continued help would be greatly appreciated. You guys don't know how much of an impact you all are making!</p>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="need-stats">
                            <h4><span class="stat-num">2</span> Need Meeters</h4>
                            <h4><span class="stat-num">9</span> Days to Go</h4>
                            <h4><span class="stat-num">14</span> Watching</h4>
                            <div class="meet-need-button">Meet Need</div>
                        </div>
                    </div>
                </div>
            </div>