@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "View Need";
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        <div id="need-title"> A Place to Stay Over Thanksgiving Break </div>
        <div id="need-author"> by Josh Smith </div>
            <div class="row need-nav">
                <ul class="col-md-12">
                    <li><a  href="ViewNeed.cshtml"><i class="fa fa-home"></i> Home</a>
                    </li>
                    <li><a href="Comments.cshtml"><i class="fa fa-pencil-square-o"></i> Comments</a>
                    </li>
                    <li><a href="Updates.cshtml"><i class="fa fa-cloud-upload"></i> Updates</a>
                    </li>
                </ul>
            </div>
        <section id="description">

            <div class="row">
                    <div class="col-md-8">

                        <div class="video">
                            <iframe width="600" height="400" src="http://www.youtube.com/embed/01TL9bUWr6I" frameborder="0" allowfullscreen=""></iframe>
                        </div>

                    </div>

                    <div class="col-md-4">
                        <div class="need-stats">
                            <h4><span class="stat-num">2</span> Need Meeters</h4>
                            <h4><span class="stat-num">9</span> Days to Go</h4>
                            <h4><span class="stat-num">14</span> Watching</h4>
                            <div class="meet-need-button">Meet Need</div>
                        </div>

                        </br>
                        <p>This need will only be met if a Meeter is found by Fri, Nov 21 2014 3:00 PM.</p>
                    </div>


                    <div class="col-md-4">
                        <ul class="list-inline">
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="mailto:goodstarterfhu@gmail.com" class="btn-social btn-outline"><i class="fa fa-fw fa-envelope"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                        </ul>
                    </div>                



            </div>
            


        </section>


    </body>
</html>
