/* Color Scheme 
    Important Green    #27ae60  << medium cool    >>
    Background Clouds  #ecf0f1  << light  neutral >>
    Bright Green       #2ecc71  << light   cool   >>
    Writing Blues      #2c3e50  << light   cool   >>
    Subtle Borders     #d9d9de  << dark    cool   >>
*/

/* -------------------------- START LAYOUT CSS -------------------------- */

body {
    overflow-x: auto;
    background: url("https://d107cgb5lgj7br.cloudfront.net/img/backgrounds/noise-grey.v1.png");
    background-color: #F6F7F5;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.main-container, .signup-container {
    margin-top: 80px;
    margin-bottom: 50px;
    height: 100%;
}

.container-full {
    margin: 0 auto;
    width: 100%;
}

/* navbar */
.navbar-default {
    background: #2ecc71 !important;
    border-color: #E7E7E7;
    transition: 0.2s ease-in-out;
    border: none;
    border-radius: 0;
    height: 80px;
}

/* title */
.navbar-default .navbar-brand {
    transition: 0.3s ease-in-out;
    color: white;
    font-size: 36px;
    width: 300px;
    line-height: 50px;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: white;
}
/* link */
.navbar-default .navbar-nav > li > a{
    color: white;
    line-height: 50px;
    transition: 0.2s ease-in-out;
}
.navbar-form {
    line-height: 60px;
    transition: 0.2s ease-in-out;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: white;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background: #27ae60;
    transition: 0.2s ease-in-out;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: white;
    background-color: #D5D5D5;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}

/* mobile version */
.navbar-default .navbar-toggle {
    border-color: white;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #27AE60;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

@media (max-width: 1000px) {
    .navbar-form {
        display: none;  
    }
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: white;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}

footer {
    background-color: #2C3E50;
    color: #95a5a6;
}

.footer-below {
    margin-top: 20px;
    padding: 15px;
    background-color: #233140;
}

/* FLOAT CONTROLS */

.float-left {
    float: left;
}

.float-right {
    float: right;
}

/* -------------------------- END LAYOUT CSS -------------------------- */

/* -------------------------- START BUTTON CSS -------------------------- */

.btn-default {
    text-shadow: none;
    background: #24A35A;
    border: none;
    border: 1px solid #2ECC70;
    transition: all 0.2s ease-in-out;
}

.btn-default:hover {
    background: #2ECC70;
    border: 1px solid #24A35A;
}

.btn-default:active {
    color: white;
}

.btn-default:focus {
    color: white;
    background: #24A35A;
}

.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}

.btn-outline {
    margin-top: 15px;
    border: solid 2px #fff;
    font-size: 20px;
    color: #fff;
    background: 0 0;
    transition: all .3s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    border: solid 2px #fff;
    color: #27ae60;
    background: #fff;
}

.icon-chevron-sign-up {
    color: black;
}

/* -------------------------- END BUTTON CSS -------------------------- */


/* -------------------------- START POPULAR CSS -------------------------- */

.popular-need {
    padding: 50px;
    background: white;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.page-title {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.radius-img {
    margin: 40px;
    border-radius: 164px;
}

.category {
    text-align: center;
    font-size: 1.2em;
    background-color: white;
    border:1px solid #27ae60;
    border-radius: 5px;
    padding: 20px 0 20px 0;
    margin-bottom: 20px;
    text-decoration: none;
    color: #27ae60;
    transition: all 0.4s ease;
}

.category:hover {
    color: white;
    background-color: #2ECC71;
}

.social,
.learn-more {
    border-radius: 5px;
    text-align: center;
    background-color: #E8F6FF;
    height: 250px;
    margin-top: 50px;
    margin-bottom: 30px;
    border: 1px solid #d9d9de;
}

.learn-button,
.social-button {
    font-weight: bold;
    display: inline-block;
    margin-top: 15px;
    padding: 15px 25px 15px 25px;
    text-decoration: none;
    color: #F3F1F2;
    background-color: #50B87C;
    border-radius: 5px;
    transition: all 0.4s ease;
}

.learn-button {
    background-color: #50B87C;
}

.social-button {
    background-color: #438cb4;
}

#facebook {
    background-color: #4B67A1;
    padding: 3px;
    border-radius: 2px;
}

.social-button:hover{
    background-color: #2c4b76;
    transition: all 0.4s ease;
    text-decoration: none;
    color: white;
}

.learn-button:hover {
    background-color: #2d513f;
    transition: all 0.4s ease;
    text-decoration: none;
    color: white;
}

.popular-img {
    margin: 0 auto;
    width: 300px;
    height: 175px;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.popular-container {
    border-radius: 5px;
    border: 1px solid #E2E2E2;
    background: white;
}

.popular-container h3,
.popular-container p {
    color: #000;
    padding: 20px;
}

.popular-container a {
    text-decoration: none;
    color: inherit;
}

.popular-container a:hover {
    
}

/* -------------------------- END POPULAR CSS -------------------------- */

/* -------------------------- START SIGNUP CSS -------------------------- */

.input-group-addon
{
    background-color: #27ae60;
    border-color: #27ae60;
    color: white;
}

.form-control:focus
{
    background-color: #27ae60;
    border-color: #27ae60;
    color: white !important;
}

.form-signup input[type="text"],.form-signup input[type="password"] {
    border: 1px solid #27ae60; 
}

.btn-primary {
    background: #2ecc71;
    transition: 0.2s ease-in-out;
    border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 10px;
}

.btn-primary:hover {
    background: #27AE60;
}

/* -------------------------- END SIGNUP CSS -------------------------- */

/* -------------------------- START COMMENTS CSS -------------------------- */

.comments-container {
    margin-top: 60px;
}

.user-comment {
    border: 1px solid #ecf0f1;
    background: white;
    padding: 40px;
    padding-bottom: 60px;
    margin-bottom: 20px;
}

.comment-img {
    border: 1px solid #2ecc71;
    margin-right: 20px;
    border-radius: 64px;
    width: 64px;
    height: 64px;
}

.user-comment p {
    padding-bottom: 10px;
}

.reply-button {
    display: inline-block;
    background: #2ecc71;
    transition: 0.2s ease-in-out;
    color: white;
    border-radius: 2px;
    padding: 10px;
    border: 1px solid #2ecc71;
}

.reply-button:hover {
    background: #27AE60;
}

.reply-button:active {
    color: #2ecc71;
    background: white;
    border: 1px solid #27AE60;
}

/* -------------------------- END COMMENTS CSS -------------------------- */

/* -------------------------- START UPDATES CSS -------------------------- */
#updates {
    text-decoration: none;
    list-style: none;
    margin-right: 5%;
}

.updateHeading h2 {
    margin-bottom: 2px;
    margin-left: 25px;
    -webkit-transform: skew(-20deg);
       -moz-transform: skew(-20deg);
         -o-transform: skew(-20deg);
}

.underlineBorder {
    padding-bottom: 20px;
    margin-bottom: 20px;
    -webkit-transform: skew(-50deg);
	   -moz-transform: skew(-50deg);
	     -o-transform: skew(-50deg);
    background: -webkit-linear-gradient(left, #5A5551, #F3F1F2);
    background: -o-linear-gradient(right, #5A5551, #F3F1F2);
    background: -moz-linear-gradient(right, #5A5551, #F3F1F2);
}

.updatesTitle {
    overflow: auto;
}

.updatePost {
    background: rgba(217,216,185, 0.3);
    border-radius: 10px;
}

.updatesDate {
    float: left;
    font-weight: 400;
    background: #AFD8CC;
    border-radius: 5px 35px;
    padding: 0px 10px 0px 10px;
    margin-right: 5%;
    border: 1px solid #579F7B;
    
    /* add font to date*/
}

.updatesTitle h2 {
    padding-bottom: 5px;
    margin: 20px 20px 0px 20px;
    border-bottom: 1px solid #579F7B;
}

.updatesBody {
    padding-left: 10px;
    padding-right: 15px;
    padding-bottom: 5px;
    margin-bottom: 20px
}
/* -------------------------- END UPDATES CSS -------------------------- */

/* -------------------------- START PROFILE CSS -------------------------- */
/* -------------------------- END PROFILE CSS -------------------------- */

/* -------------------------- START NEED CSS -------------------------- */

.need-nav ul {
    text-align: center;
    list-style: none;
    background: white;
    padding: 40px 0 10px 0;
}

.need-nav ul li {
    display: inline-block;
}

.need-nav ul li a {
    border-radius: 2px;
    display: inline-block;
    padding: 5px 20px 5px 20px;
    text-decoration: none;
    color: #2C3E50;
    background: #E8F6FF;
    border-bottom: 2px solid #27AE60;
    transition: 0.2s ease-in-out;
}

.need-nav ul li a:hover {
    color: white;
    background: #2ecc71;
    border-bottom: 2px solid #27AE60;
}

.need-stats {
    border-radius: 2px;
    background: #E8F6FF;
    border: 1px solid #ecf0f1;
    border-left: 1px solid #27AE60;
    padding: 40px;
}

.stat-num {
    padding: 20px;
    font-size: 2em;
}

.meet-need-button {
    margin-top: 60px;
    border: 1px solid #2eec71;
    text-align: center;
    font-size: 1.5em;
    background: #2ecc71;
    transition: 0.2s ease-in-out;
    color: white;
    border-radius: 2px;
    padding: 10px; 
}

.meet-need-button:hover {
    background: #27AE60;
}

.meet-need-button:active {
    color: #2ecc71;
    background: white;
    border: 1px solid #27AE60;
}

/* -------------------------- END NEED CSS -------------------------- */

/* -------------------------- START SHARE CSS -------------------------- */
/* -------------------------- END SHARE CSS -------------------------- */

